.venv/
matmul
broken_syncthreads
claude_sessoin
slides/
blur
blur_naive
*.pgm
*.swp
reduce
assoc
ulp
vecadd
vecadd_naive
divergence
labs/w04-occupancy/vecadd.cu
labs/w04-occupancy/common.cuh
warmup
loop_order
hello
conv_const
conv_global
labs/lab09-convolution/pgm.h
labs/lab09-convolution/common.cuh
histogram
scan
dist/
solutions.log
transpose
stencil
